@{
    ViewBag.Title = "Home Page";
}

@model SMSClient.Models.Team3

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2>Test Page</h2>
                @using (Html.BeginForm("SendButton", "Home", FormMethod.Post))
                {
                    @Html.TextAreaFor((t => t.Message), new { @class="form-control", @placeholder="Enter message"})
                    @Html.TextBoxFor((m => m.Number), new { @class="form-control", @placeholder="Enter number"})
                    @Html.PasswordFor((p => p.Pass), new { @class = "form-control", @placeholder = "Enter passcode" })
                    <input type="submit" value="Send" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
    <span>Click <a href="@Url.Action("Index", "Home/Vivify")">here</a> to look at some parsed (?) API data.</span>
    <!--
    <p><a onclick="location.href='@Url.Action("SendButton","Home","Index")'" class="btn btn-primary btn-lg">This is Our Test Button</a></p>
    -->
</div>

<div class="row">

</div>